.popup.popup-1
  h3 Would you like to cancel subscription?
  .btn-group1
    .btn1.btn-yes yes

.popup.popup-2
  .btn-group2
    .btn2.btn-yes Click here to cancel

.popup.popup-3
  h3 Are you sure?
  .btn-group3
    .btn3.btn-no no
    .btn3.btn-no no
    .btn3.btn-no no
    .btn3.btn-no no
    .btn3.btn-yes yes
    .btn3.btn-no no
    .btn3.btn-no no
    .btn3.btn-no no
    


.popup.popup-4
  h3 Thanks for cancelling! Sad to see you leave!
